body{
    font-family: 'Montserrat', sans-serif;
}
a:hover{
	color: #242424;
}

/*CONTACT BAR*/

.header-contato{
	width: 100%;
	padding: 0.6rem 0rem 0rem 0rem;
	color: #fff;
	font-size: 14px;
	background-color: #242424;
}

/*NAVBAR*/

.logo{
	width: 6rem;
}
.navbar{
	padding: .5rem 0;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link{
	color: #000;
	font-weight: bold;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:hover{
	color: #bc9839;
	font-weight: bold;
}
.btn-custom {
	color: #fff;
	font-weight: bold;
	font-size: 1.25rem;
	background-color: #bc9839;
	border-color: #bc9839;
	border-radius: 0;
}
.btn-custom:hover {
	color: #242424;
	font-weight: bold;
	background-color: #bc9839;
	border-color: #bc9839;
	border-radius: 0;
}


/*SLIDER*/

.carousel{
	position: relative;

}
.jumbotron{
	color:#fff;
	background-color: #bc9839;
	border-radius: 0px;
	background-color: transparent;
	margin-bottom: 0;
}
.alinhar{
	margin: 6rem 0;
}
.alinhar h2{
	font-size: 3rem;
	font-family: 'trajan-pro-regular';
}
.img-jumbo-1{
	background-image: url("../img/1200px/banner-1(1200).png");
	background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: none;
	  background-size: cover;
}
.img-jumbo-2{
	background-image: url("../img/1200px/banner-2(1200).png");
	background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: none;
	  background-size: cover;
}
.img-jumbo-3{
	background-image: url("../img/1200px/banner-3(1200).png");
	background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: none;
	  background-size: cover;
}

/*CTA*/

.action{
	color:#fff;
	background-color: #242424;
	padding: 0.5rem 0;
}
.destaque{
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 0;
}

/*ABOUT*/

.quem-somos{
	margin-top: 6rem;
}
.titulos{
	font-size: 3rem;
	font-family: 'trajan-pro-regular';
}
.titulos span{
	color: #bc9839;
}
.margin-area{
	margin: 1.5rem 0;
}
.titulo-menor{
	color: #555;
	font-weight: bold;
	margin: 4rem 0;
}
.titulo-valores{
	font-weight: bold;
	color: #bc9839;
}
.back-area{
	padding: 1rem;
}
.back-area h5{
	color: #444;
	font-weight: bold;
	margin: 1rem 0;
}
.back-area p{
	margin-bottom: 0;
}

/*DIFFERENTIAL*/

/*SPECIALIST*/

.especialistas{
	margin: 6rem 0;
}
.img-adv{
	width: 280px;
	height: 205px;
}
.team-name {
	color: #fff;
	font-weight: bold;
	background-color: #bc9839;
	border-color: #bc9839;
	border-radius: 0;
}
.adv-nome{
	width: 80%;
	font-size: 1.2rem;
	margin: 0 1.8rem;
	padding: 1rem 0.7rem;
	position: relative;
	bottom: 1rem;
}

/*PERFORMANCE*/

.atuacao{
	background-color: #faf9f4;
	padding: 5rem 0;
}
.titulo-atuacao{
	margin-bottom: 2rem;
}
.back-area2{
	padding: 1rem;
	background-color: #fff;
}
.img-area2{
	position: relative;
	bottom: 2rem;
}

/*CONTACT*/

.contato{
	padding: 3rem;
}

/*FOOTER*/

.footers{
	color:#fff;
	background-color: #242424;
	padding: 3.5rem 0;
}
.titulo-footer{
	color: #bc9839;
}
.footers p {
	font-size: 0.9rem;
}
#sub-menu a:hover{
	color: #bc9839;
}
.nav-link{
	padding: 0;
	color: #fff;
}

/*MEDIA*/

@media screen and(min-width: 800px){
	#margin-botao{
	position: relative;
	bottom: 1.5rem;
}
@font-face {
    font-family: 'trajan-pro-regular';
    src: url('../fonts/trajan-pro-regular.ttf') format('truetype');
    }