.header-contato{
	width: 100%;
	height: 2rem;
	color: #fff;
	background-color: #000;
}
.jumbotron{
	color:#fff;
	background-color: #000;
	border-radius: 0px;
}
.action{
	color:#fff;
	background-color: #000;
}
.footers{
	color:#fff;
	background-color: #000;
}